@model TeamCatApp.ViewModel.AssignProjectViewModel

@{
    ViewBag.Title = "Assign Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Assign Projects</h2>

<div class="form-group">
    @Html.LabelFor(vm => vm.Team)
    @Html.DropDownListFor(vm => vm.Team, new SelectList(Model.Teams, "Id", "TeamName"), "--SELECT TEAM--", new { @class = "form-control", @id = "ddlTeams" })
</div>

<div class="form-group">
    @Html.LabelFor(vm => vm.Users)
    @Html.DropDownListFor(vm => vm.Users, new SelectList(string.Empty, "Value", "Text"), "--SELECT EMPLOYEE--", new { @class = "form-control", @id = "ddlUsers" })
</div>

<div class="form-group">
    @Html.LabelFor(vm => vm.Date)
    @Html.TextBoxFor(vm => vm.Date, new { @class = "form-control", @id = "assign-date", @placeholder="--PICK A DATE--" })
</div>

<div class="form-group">
    @Html.LabelFor(vm => vm.Frequencies)
    @Html.DropDownListFor(vm => vm.Frequencies, new SelectList(Model.Frequencies, "Frequncy"), "--SELECT PROJECT FREQUENCY", new { @class = "form-control", @id = "ddlFrequencies" })
</div>

<div class="form-group">
    @Html.LabelFor(vm => vm.Project)
    @Html.DropDownListFor(vm => vm.Projects, new SelectList(string.Empty, "Value", "Text"), "--SELECT PROJECT--", new { @class = "form-control", @id = "ddlProjects" })
</div>

<div class="form-group">
    @Html.LabelFor(vm => vm.AssignedHour)
    @Html.TextBoxFor(vm => vm.AssignedHour, new { @class = "form-control", @id = "assigned-hour" })
</div>

<input type="button" id="add-data-in-view" class="btn btn-primary btn-sm" value="Add">

<div class="panel-body">
    <table id="assigned-projects-table" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Employee</th>
                <th>Projct Name</th>
                <th>Project Frequency</th>
                <th>Date</th>
                <th>Hours</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


<input type="button" id="submit-assigned-projects" class="btn btn-success btn-lg" value="Save" />


@*table template*@
<div id="table_template" style="display:none">
    <table>
        <tr class="row-template">
            <td class="employee"></td>
            <td class="project"></td>
            <td class="frequency"></td>
            <td class="assignDate"></td>
            <td class="hour"></td>
            <td>
                <input type="button" value="Modify" class="modify btn btn-warning" />
                <input type="button" value="Delete" class="delete btn btn-danger" />
            </td>
        </tr>
    </table>
</div>


@section scripts {
    <script>
        $(function () {
            // For populating teams to employees dropdownlist
            $("#ddlTeams").change(function () {
                var teamId = $("#ddlTeams").val();
                $("#ddlUsers").empty();

                var json = { teamId: teamId }
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetUsersByTeamId","AssignProjects")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {
                        $.each(data, function (key, value) {
                            $("#ddlUsers").append('<option value=' + value.Id + '>' + value.UserName + '</option>');
                        });
                    }
                });
            });

            // For populating frequency to project dropdownlist
            $("#ddlFrequencies").change(function () {
                var freqName = $("#ddlFrequencies").val();
                $("#ddlProjects").empty();
                var json = { frequncy: freqName }

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetProjectsByFrequency","AssignProjects")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {
                        $.each(data, function (key, value) {
                            $("#ddlProjects").append('<option value=' + value.ID + '>' + value.ProjectName + '</option>');
                        });
                    }
                });
            });

            // Datepicker
            $("#assign-date").datepicker({
                showAnim: "drop",
                showOn: "button",
                buttonImage: "http://jqueryui.com/resources/demos/datepicker/images/calendar.gif",
                buttonImageOnly:true,
                showWeek: true,
                changeMonth: true,
                changeYear: true
            });

            // For rendering gridview/table
            $("#add-data-in-view").click(function () {
                $gridView = $("#assigned-projects-table");

                let $selectedEmployee = $("#ddlUsers option:selected").text();
                let $selectedProject = $("#ddlProjects option:selected").text();
                let $selectedDate = $("#assign-date").val();
                let $selectedFrequency = $("#ddlFrequencies option:selected").text();
                let $assignedHour = $("#assigned-hour").val();

                let $templateRow = $("#table_template").find(".row-template").clone();

                $templateRow.find(".employee").html($selectedEmployee);
                $templateRow.find(".project").html($selectedProject);
                $templateRow.find(".frequency").html($selectedFrequency);
                $templateRow.find(".assignDate").html($selectedDate);
                $templateRow.find(".hour").html($assignedHour);

                $templateRow.find(".delete").click(function () {
                    $templateRow.remove();
                });

                $templateRow.find(".modify").click(function () {
                    alert("Selected Entry Modified");
                });

                $gridView.append($templateRow);
            });

            // Submitting assgined projects to controller
            $("#submit-assigned-projects").click(function () {
                $listOfTaskUrl = '@Url.Action("Index", "ListOfAssignedProjects")';
                $saveTaskUrl = '@Url.Action("SaveAssignedProjects", "AssignProjects")';

                let assignedProjectList = new Array();

                // Get all the values of HTML table except header
                $("#assigned-projects-table tr:not(:first)").each(function () {
                    let tableData = $(this).find("td");
                    let assignProject = { EmployeeName: $(tableData[0]).text(), ProjectName: $(tableData[1]).text(), Frequency: $(tableData[2]).text(), AssignedDate: $(tableData[3]).text(), AssignedHour: $(tableData[4]).text() }
                    assignedProjectList.push(assignProject);
                });

                $.ajax({
                    type: "POST",
                    url: $saveTaskUrl,
                    dataType: "html",
                    data: JSON.stringify(assignedProjectList),
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        alert("Saved Successfully");
                        window.location.href = $listOfTaskUrl;
                    },
                    error: function () {
                        alert("Error happend");
                    }
                });
            });
        });
    </script>
}

