@model TeamCatApp.ViewModel.AssignProjectViewModel

@{
    ViewBag.Title = "Assign Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-message-box@2.2.1/src/messagebox.css">

<h2>Assign Projects</h2>

<form id="submit_form">
    <div class="form-group">
        @Html.LabelFor(vm => vm.Teams)
        @Html.DropDownListFor(vm => vm.Teams, new SelectList(Model.Teams, "Id", "TeamName"), "--SELECT TEAM--", new { @class = "form-control", @id = "ddlTeams" })
        @Html.ValidationMessageFor(vm => vm.Teams, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(vm => vm.Users)
        @Html.DropDownListFor(vm => vm.Users, new SelectList(string.Empty, "Value", "Text"), "--SELECT EMPLOYEE--", new { @class = "form-control", @id = "ddlUsers" })
        @Html.ValidationMessageFor(vm => vm.Users, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(vm => vm.AssignedDate)
        @Html.TextBoxFor(vm => vm.AssignedDate, new { @class = "form-control", @id = "assign-date", @placeholder = "Date" })
        @Html.ValidationMessageFor(vm => vm.AssignedDate, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(vm => vm.Frequencies)
        @Html.DropDownListFor(vm => vm.Frequencies, new SelectList(Model.Frequencies, "Frequncy"), "--SELECT PROJECT FREQUENCY--", new { @class = "form-control", @id = "ddlFrequencies" })
        @Html.ValidationMessageFor(vm => vm.Frequencies, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(vm => vm.Projects)
        @Html.DropDownListFor(vm => vm.Projects, new SelectList(string.Empty, "Value", "Text"), "--SELECT PROJECT--", new { @class = "form-control", @id = "ddlProjects" })
        @Html.ValidationMessageFor(vm => vm.Projects, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(vm => vm.AssignedHour)
        @Html.TextBoxFor(vm => vm.AssignedHour, new { @class = "form-control", @id = "assigned_hour" })
        @Html.ValidationMessageFor(vm => vm.AssignedHour, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <input type="button" id="add-data-in-view" class="btn btn-primary btn-sm" value="Add">
        <input type="button" id="clear-ui-controls" class="btn btn-danger btn-sm" value="Clear">
    </div>


    <div class="form-group">
        <table id="assigned-projects-table" class="table table-striped table-bordered from-control">
            <thead>
                <tr>
                    <th>Employee</th>
                    <th>Projct Name</th>
                    <th>Project Frequency</th>
                    <th>Date</th>
                    <th>Hours</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="from-group">
        <input type="button" id="submit-assigned-projects" class="btn btn-success btn-lg" value="Submit" />
    </div>
</form>



@*table template*@
<div id="table_template" style="display:none">
    <table>
        <tr class="row-template">
            <td class="employee"></td>
            <td class="project"></td>
            <td class="frequency"></td>
            <td class="assignDate"></td>
            <td class="hour"></td>
            <td>
                <input type="button" value="Modify" class="modify btn btn-sm btn-warning" />
                <input type="button" value="Delete" class="delete btn btn-sm btn-danger" />
            </td>
        </tr>
    </table>
</div>

@*save loading animation*@
<div class="modal"></div>

@section scripts {

    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@1.5.4/src/loadingoverlay.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@1.5.4/extras/loadingoverlay_progress/loadingoverlay_progress.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-message-box@2.2.1/src/messagebox.min.js"></script>
    <script src="~/Scripts/jQuery-reset-validation.js"></script>

    <script>
        $(function () {
            resetUiControls();

            // For populating teams to employees dropdownlist
            $("#ddlTeams").change(function () {
                let $ddlTeams = $("#ddlTeams");
                let $ddlUsers = $("#ddlUsers");

                let teamId = $ddlTeams.val();
                if (teamId === "") {
                    return false;
                }

                $ddlUsers.empty();

                var json = { teamId: teamId }
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetUsersByTeamId","AssignProjects")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {
                        $ddlUsers.append('<option value=> --SELECT EMPLOYEE--</option>');
                        $.each(data, function (key, value) {
                            $ddlUsers.append('<option value=' + value.Id + '>' + value.UserName + '</option>');
                        });
                    }
                });
            });

            // For populating frequency to project dropdownlist
            $("#ddlFrequencies").change(function () {
                let $ddlFrequencies = $("#ddlFrequencies");
                let $ddlProjects = $("#ddlProjects");

                let freqName = $ddlFrequencies.val();
                if (freqName == null) {
                    return false;
                }

                $ddlProjects.empty();

                var json = { frequncy: freqName }
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetProjectsByFrequency","AssignProjects")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {
                        $ddlProjects.append('<option value=> --SELECT PROJECT--</option>');
                        $.each(data, function (key, value) {
                            $ddlProjects.append('<option value=' + value.ID + '>' + value.ProjectName + '</option>');
                        });
                    }
                });
            });

            // Datepicker
            $("#assign-date").datepicker({
                showAnim: "drop",
                showWeek: true,
                changeMonth: true,
                changeYear: true,
                dateFormat: "dd-mm-yy"
            });

            // For rendering gridview/table
            $("#add-data-in-view").click(function () {
                let $form = $("#submit_form");

                if ($form.valid()) {
                    let $gridView = $("#assigned-projects-table");

                    // For modify button
                    let $chosedTeamValue = $("#ddlTeams option:selected").val();
                    let $chosedFreqValue = $("#ddlFrequencies option:selected").val();

                    let $selectedEmployee = $("#ddlUsers option:selected").text();
                    let $selectedProject = $("#ddlProjects option:selected").text();
                    let $selectedDate = $("#assign-date").val();
                    let $selectedFrequency = $("#ddlFrequencies option:selected").text();
                    let $assignedHour = $("#assigned_hour").val();

                    let $templateRow = $("#table_template").find(".row-template").clone();

                    $templateRow.find(".employee").html($selectedEmployee);
                    $templateRow.find(".project").html($selectedProject);
                    $templateRow.find(".frequency").html($selectedFrequency);
                    $templateRow.find(".assignDate").html($selectedDate);
                    $templateRow.find(".hour").html($assignedHour);

                    // Delete table row.
                    $templateRow.find(".delete").on('click', (function () {
                        $templateRow.remove();
                    }));

                    // Modify table row
                    $templateRow.find(".modify").on('click', (function () {
                        let $ddlTeams = $("#ddlTeams");
                        let $ddlFrequencies = $("#ddlFrequencies");

                        resetUiControls();
                        $ddlTeams.val($chosedTeamValue);
                        $ddlTeams.trigger('change');

                        $ddlFrequencies.val($chosedFreqValue);
                        $ddlFrequencies.trigger('change');

                        $("#assign-date").val($selectedDate);
                        $("#assigned_hour").val($assignedHour);
                        $templateRow.remove();
                    }));

                    // check duplication
                    let $rowCount = $('#assigned-projects-table tr').length;
                    if ($rowCount === 1) {
                        $gridView.append($templateRow);
                        $.MessageBox("Record Inserted");
                        return false;
                    }
                    else {
                        $("#assigned-projects-table tr:not(:first)").each(function () {
                            let rowText = $(this).text();
                            if (rowText === $templateRow.text()) {
                                $.MessageBox("Duplicate Data");
                                $templateRow.empty();
                                resetUiControls();
                                return false;
                            }                          
                        });
                    }
                    $gridView.append($templateRow);
                    $.MessageBox("Record Inserted");
                }
            });

            // Clear UI controls
            $("#clear-ui-controls").on('click', function () {
                $(this).resetValidation()
                resetUiControls();
                $.MessageBox("controls are cleared!");
            });

            // Reset UI controls
            function resetUiControls() {
                $("#ddlTeams").prop('selectedIndex', 0);

                $("#ddlFrequencies").prop('selectedIndex', 0);

                $('#ddlUsers').find('option:first').attr('selected', 'selected');
                $('#ddlProjects').find('option:first').attr('selected', 'selected');

                $("#assigned_hour").val('');
                $("#assign-date").val('');
            }

            // overlay loader
            $(document).ajaxSend(function (event, jqxhr, settings) {
                $.LoadingOverlaySetup({
                    color: "rgba(0, 0, 0, .5)",
                    image: "",
                    maxSize: "80px",
                    minSize: "20px",
                    resizeInterval: 0,
                    size: "50%",
                    fontawesome: "fa fa-circle-o-notch fa-spin"
                });

                $.LoadingOverlay("show");
            });
            $(document).ajaxComplete(function (event, jqxhr, settings) {
                $.LoadingOverlay("hide");
            });

            // Submitting assgined projects to controller
            $("#submit-assigned-projects").click(function () {
                let $tableBody = $("#assigned-projects-table tbody");
                if ($tableBody.children().length === 0) {
                    $.MessageBox("Taks list is empty. Unable to save");
                    return false;
                }

                const $listOfTaskUrl = '@Url.Action("Index", "ListOfAssignedProjects")';
                const $saveTaskUrl = '@Url.Action("SaveAssignedProjects", "AssignProjects")';

                let assignedProjectList = new Array();

                // Get all the values of HTML table except header
                $("#assigned-projects-table tr:not(:first)").each(function () {
                    let tableData = $(this).find("td");
                    let assignProject = { EmployeeName: $(tableData[0]).text(), ProjectName: $(tableData[1]).text(), Frequency: $(tableData[2]).text(), AssignedDate: $(tableData[3]).text(), AssignedHour: $(tableData[4]).text() }
                    assignedProjectList.push(assignProject);
                });

                let $body = $("body");

                $.ajax({
                    type: "POST",
                    url: $saveTaskUrl,
                    dataType: "json",
                    data: JSON.stringify(assignedProjectList),
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        if (!result) {
                            console.log(result);
                            $.MessageBox("Save failed. Possible duplicate task");
                            return false;
                        }
                        else {
                            $.MessageBox({
                                buttonDone: "Yes",
                                buttonFail: "No",
                                message: "Saved Successfully. Do you want to see all task list?"
                            }).done(function () {
                                window.location.href = $listOfTaskUrl;
                            }).fail(function () {
                            });
                        }
                    },
                    error: function () {
                        $.MessageBox("Some Error Happend!");
                    }
                });
            });
        });
    </script>
}